<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nota Fiscal</title>
</head>
<body>
    <h1>Nota Fiscal</h1>
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pedido: ${Pedidos}">

                    <td th:text="${pedido.nomePedido}"></td>

                    <td th:text="${pedido.quantidade}"></td>

                    <td th:text="${pedido.valor}"></td>
                  
                
            </tr>
   
        </tbody>
        <h2>Total a Pagar: R$ <span th:text="${totalValor}"></span></h2>
    </table>
</body>
</html>
